 # <center>Midterm Exam &ndash; DATA 3401 (Spring 2023)</center>

## Name: Aaron Alexander Gluch
## ID: 1001806336 / aag6336
## Class #26258 sec 001

## Start Date: 3/27
## Due Date for Exercises 1 and 2:    3/27 (at 2:15pm))
## Due Date: for Exercises 3, 4 and 5:     23/29 (at 12:59pm))

## Midterm Rules

This midterm exam is essentially like a short-term lab. Please work the exercises below **on your own**.   

**You should push your answer for Exercises 1 and 2 by the end of Monday's class, 3/27, at 2:15 pm in your GitHub repo for this class as **Midterm-part1** in the **Exam** folder. The rest of the exam is a take-home exam, and you have time up to Wednesday, 3/29, at 12:59. When you have completed the take-home exam, you should again push your completed jupyter notebook to your GitHub repo for this class as **Midterm-part2** in the **Exam** folder.


You may not discuss the problems with **anyone else**, including persons on an online internet forum. Consulting an outside source like this will be considered an academic integrity violation.

You may use all class resources including previous labs and lectures, and anything posted on the course webpage.

You may not use any function that trivializes a problem. For example, if I ask you to write a `max` function that computes the maximum entry in a list, you are not allowed to use the pre-defined Python function `max`; you must write your own.

## Exercise 1
1. Write a script or function that asks the user to input 3 numbers (floats or ints), and output the product of the 3 numbers.
    1. You may use the `input()` function to take user input, or you may write a function with 3 input arguments without using `input()`
1. Your code should display an error message if one of the inputs is not a number.
1. Test your code on the following inputs:  
    1. (5, -10, 20.0)
    1. (1, "blah", 5)

In [2]:
## Write your code here

def trivproduct(a, b, c):
    if ((isinstance(a, int) or isinstance(a, float)) and (isinstance(b, int) or isinstance(b, float)) and (isinstance(c, int) or isinstance(c, float))) == True:
        return (a * b * c)
    else: return "Error: At least one of the inputs is neither an integer nor a float, try again."

In [3]:
## Test your code here
print(trivproduct(5, -10, 20.0))
print(trivproduct(1, "blah", 5))

-1000.0
Error: At least one of the inputs is neither an integer nor a float, try again.

## Exercise 2
1. Write a function which takes a list as input and outputs the largest **integer** entry. If there is none, return `None`.
1. Test your function on the following lists
    1. \[ 1, 9, 10.2, 6, -2\]
    1. \[1.2, 3/4, "Hello World"\]

In [11]:
# Write your function here
def greatest(lst):
    used = []
    for i in range(len(lst)):
        if isinstance(lst[i], int) == True:
            used.append(lst[i])
    if len(used) == 0:
        return "None"
    largest = used[0]
    output = used[0]
    count = 0
    for i in range(len(used)):
        if used[i] > largest:
            largest = used[i]
    for i in range(len(used)):
        if used[i] == largest:
            count += 1
    if count > 1:
        return "None"
    else: return largest

In [12]:
# Test your function here
greatest([1, 9, 10.2, 6, -2])
greatest([1.2, 3/4, "Hello World"])

'None'

## Exercise 3
Suppose the first element of a sequence is $a_0 = 1$, the second element is $a_1 = 3$, and for every $i>1$, the $i$--th element of the sequence is defined by the recursive relation $a_i = \frac{(a_{i-1}-a_{i-2})^2}{3}$. (So $a_2 = 4/3$)
1. Write a function which outputs the $n$--th element of this sequence for a given positive integer $n$
2. Test your function for $n = 1, 5, 10, 15,$ and $20$

In [26]:
# Write your function here
def e3(n):
    alst = [1, 3]
    i = 2
    while i <= n:
        ai = ((alst[i-1] - alst[i-2]) ** 2) / 3
        alst.append(ai)
        i += 1
    return alst[n]

In [27]:
# Test your function here
test = [1, 5, 10, 15, 20]
for n in test:
    print(f"n={n}: {e3(n)}")

n=1: 3
n=5: 0.25264753615031454
n=10: 3.986380447622439e-09
n=15: 2.2496046712168145e-35
n=20: 4.003939782244758e-285

## Exercise 4
1. Write a function that takes in a list of tuples, each of which contains three parts: `name, month, day` corresponding to a person's birthday, for example `('Tony Stark', 'March', 14)`. Your function should output `True` if any two people have the same birthday, and `False` if no two people have the same birthday.
1. Test your function on the set of people `[('Thor', 'August',10), ('Phil Coulson','July',8),('T\'Challa','November',29),('Peter Parker','August',10), ('Tony Stark', 'March', 14)]`
1. Create your own list of people with all distinct birthdays and test your function on your list.

In [28]:
# Write your functions here
def same(lst):
    bdays = []
    for person in lst:
        n, m, d = person
        bday = (m, d)
        if bday in bdays:
            return True
        else:
            bdays.append(bday)
    return False

In [29]:
# Test your functions here
people = [('Thor', 'August',10), ('Phil Coulson','July',8),('T\'Challa','November',29),('Peter Parker','August',10), ('Tony Stark', 'March', 14)]
print(same(people))
distinct = [('Sponebob', 'August',10), ('Patrick','July',8),('Squidward','November',29),('Sandy','August',11), ('Mr. Krabs', 'March', 14)]
print(same(distinct))

True
False

## Exercise 5
For this exercise, you are *not* allowed to use the `.replace()` function or a similar single string command to complete the exercise. For example, you could make a list of the input string and then use list manipulations to complete the task.

1. Write a function or script that takes in two strings, and returns the first string minus all instances of the second string. You may assume the second string is a single character.  For example, an input of "Hello World" where "l" is removed should result in "Heo Word".
1. Test your function by specifying "i" to be removed from "Supercalifragilisticexpialidocious"

Bonus: Modify your function to allow the second string to be more than one characer. Test your new function by specifying "data" to be removed from "data 3401 introduction to python for data science". (This should result in ' 3401 introduction to python for  science'

**Example:** if your function is called `replace_string(str1,str2)`, then for part 2 you should print `replace_string('Supercalifragilisticexpialidocious','i')` and for the bonus you should print `replace_string('data 3401 introduction to python for data science','data')`

In [30]:
# Write your function here
def replace_string(str1, str2):
    output = ''
    skipper = 0
    for i in range(len(str1)):
        if skipper > 0:
            skipper -= 1
            continue
        if str1[i:i+len(str2)] == str2:
            skipper = len(str2) - 1
        else:
            output += str1[i]
    return output

In [31]:
# Test your function here
print(replace_string('Supercalifragilisticexpialidocious','i'))
print(replace_string('data 3401 introduction to python for data science','data'))

Supercalfraglstcexpaldocous
 3401 introduction to python for  science